{% extends 'LabsFacturationBundle::layout_system.html.twig' %}
{% block Title %}  {{ 'Gestion des entreprises & clients'|capitalize }} {% endblock %}
{% block loyout_body %}
    <!-- Main content -->
    <div class="content-wrapper">
        <!-- Form horizontal -->
        <div class="panel panel-flat">
            <div class="panel-heading">
                <h5 class="panel-title">{{ 'Gestion des entreprises & clients - Créer une nouvelle entreprise-cliente' }}</h5>
                <div class="heading-elements">
                    <div class="icons-list">
                        <a href="{{ path('labs_members_client_view') }}" class="btn btn-primary btn-labeled"><b><i class="icon-menu7"></i></b> Afficher la liste</a>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                {{ form_start(form, { attr : { 'class':'form-horizontal'}}) }}
                {{ form_errors(form) }}

                <fieldset class="content-group col-lg-6 col-md-offset-2">

                    <legend class="text-bold">Formulaire de création d'entreprise & client</legend>

                    <div class="form-group">
                        <label class="control-label col-lg-3">Nom de l'entreprise client</label>
                        <div class="col-lg-9">
                            {{ form_row(form.name) }}
                            {{ form_errors(form.name) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-lg-3">Adresse</label>
                        <div class="col-lg-9">
                            {{ form_row(form.adresse) }}
                            {{ form_errors(form.adresse) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-lg-3">Nom du répresentant</label>
                        <div class="col-lg-9">
                            {{ form_row(form.representant) }}
                            <span class="label label-danger">{{ form_errors(form.representant) }}</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-lg-3">Adresse email de l'entreprise</label>
                        <div class="col-lg-9">
                            {{ form_row(form.email_entreprise) }}
                            <span class="label label-danger">{{ form_errors(form.email_entreprise) }}</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-lg-3">Adresse email du répresentant</label>
                        <div class="col-lg-9">
                            {{ form_row(form.email_represent) }}
                            <span class="label label-danger">{{ form_errors(form.email_represent) }}</span>
                        </div>
                    </div>

                    <div class="text-right">
                        <button type="submit" class="btn btn-primary">Enregister <i class="icon-database-add position-right"></i></button>
                    </div>

                </fieldset>

                {{ form_end(form) }}

            </div>
        </div>
    </div>
{% endblock %}
{% block themes %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/labslimitlesstpl/assets/js/plugins/forms/styling/uniform.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/labslimitlesstpl/assets/js/pages/form_inputs.js') }}"></script>

    <script type="text/javascript" src="{{ asset('bundles/labslimitlesstpl/assets/js/core/libraries/jquery_ui/interactions.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/labslimitlesstpl/assets/js/plugins/forms/selects/select2.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/labslimitlesstpl/assets/js/pages/form_select2.js') }}"></script>

{% endblock %}