{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <section class="content-row">
        <div class="grey-container">
            <div class="container">
                <div class="col-lg-9">
                    <div class="infobox">
                        <div class="inside">
                            <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
                            {% if app.session is not empty %}
                                {% set targetUrl = app.session.get('_security.' ~ app.security.token.providerKey ~ '.target_path') %}
                                {% if targetUrl is not empty %}<p><a href="{{ targetUrl }}" class="btn btn-mega">{{ 'registration.back'|trans }}</a></p>{% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-3"> <a href="{{ path('fos_user_profile_show') }}" class="btn btn-mega btn-lg">{{ 'Affichez mon profil'|upper }}</a></div>
            </div>
        </div>
    </section>

    <!-- Services block box -->
    <section class="services-block-box">
        <div class="container">
            <div class="row">
                <h1>{{ "Félicitation, Ton compte vient d'être crée "|upper }}</h1>
                <div class="col-sm-6 col-md-3 col-lg-3">
                    <a class="item animate scale" href="#">
                        <span class="icon">
                            <span class=" icon-profile-2"></span>
                        </span>
                        <span class="title">Tu peux souscrire à un abonnement</span>
                        Profite des pourcentages de reduction sur tout les produits en vente sur une période allant jusqu'a 1 ans.
                    </a>
                </div>
                <div class="divider-md visible-xs"></div>
                <div class="col-sm-6 col-md-3 col-lg-3">
                    <a class="item animate scale" href="#">
                        <span class="icon">
                            <span class="icon-star-2"></span>
                        </span>
                        <span class="title">garde tes futurs achats en favoris </span>
                        Reste informé des pourcentages de reduction qui seront appliqué à tes produits dans la liste de tes favoris.
                    </a>
                </div>
                <div class="divider-md visible-sm visible-xs"></div>
                <div class="col-sm-6 col-md-3 col-lg-3">
                    <a class="item animate scale" href="#">
                        <span class="icon">
                            <span class="icon-time"></span>
                        </span>
                        <span class="title">Gagnez du temps sur vos achats </span>
                        Ajoutez des articles à ton panier, valide ta commande et fait toi livrer rapidement en 3 etapes.</a>
                </div>
                <div class="divider-md visible-xs"></div>
                <div class="col-sm-6 col-md-3 col-lg-3">
                    <a class="item animate scale" href="#">
                        <span class="icon">
                            <span class="icon-chat"></span>
                        </span>
                        <span class="title">Communiquez avec directement avec moi</span>
                        Je suis à votre disposition à tous moment , vous avez besoins de plus d'information laissez un message.
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- //end Services block box -->

{% endblock fos_user_content %}
