{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block Title %} {{ 'connexion à votre compte'|capitalize }} {% endblock %}
{% block fos_user_content %}
    {% if error %}
    <div class="panel-body">
        <div class="alert alert-danger" role="alert">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    </div>
    {% endif %}

    <form role="form" action="{{ path("fos_user_security_check") }}" method="post">
        <div class="panel panel-body login-form">
            <div class="text-center">
                <div class="icon-object border-warning-400 text-warning-400"><i class="icon-user-lock"></i></div>
                <h5 class="content-group-lg">{{ 'Connectez-vous à votre compte' }} <small class="display-block">{{ 'Entrez vos identifiants de connexion' }}</small></h5>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

            <div class="form-group has-feedback has-feedback-left">
                <input type="text" class="form-control" name="_username" placeholder="Adresse email" id="form-username">
                <div class="form-control-feedback">
                    <i class="icon-user text-muted"></i>
                </div>
            </div>


            <div class="form-group has-feedback has-feedback-left">
                <input type="password" class="form-control"  name="_password" placeholder="Mot de passe" id="form-password">
                <div class="form-control-feedback">
                    <i class="icon-lock2 text-muted"></i>
                </div>
            </div>

            <div class="form-group">
                <button type="submit" class="btn bg-blue btn-block" id="_submit" name="_submit">{{ 'security.login.submit'|trans }}<i class="icon-circle-right2 position-right"></i></button>
            </div>

            <div class="form-group login-options">
                <div class="row">
                    <div class="col-sm-6">
                        <span>Mot de passe oublié ?</span>
                    </div>
                    <div class="col-sm-6 text-right">
                        <a href="{{ path('fos_user_resetting_request') }}">{{ 'Cliquez ici'|capitalize }}</a>
                    </div>
                </div>
            </div>


        </div>
    </form>

{% endblock fos_user_content %}

