<style type="text/css" xmlns="http://www.w3.org/1999/html">
    <!--
    table { vertical-align: top; }
    tr    { vertical-align: top; }
    td    { vertical-align: top; }
    table.page_header {width: 100%; padding: 2mm }
    table.page_footer {width: 100%; border: none; border-top: solid 0.2mm #000; padding: 2mm}
    .bordes{
        width: 100%;
        border: 1px solid #000;
    }

    .bordes-2{
        width: 100%;
        border: 5px double #000;
    }

    table strong{color:#000;}
    table span{color:#000;}
    table td .text-center {text-align: center; }
    table th{background: #FFF; color:#000; padding:1mm 1mm; border: solid 0.5mm #000;}
    table.border td{background:#FFF; padding:3mm 1mm; border: 0.5mm solid #000;}
    table.borders td{background:#FFF; padding:1mm 1mm; border: 0.5mm solid #000;}
    .note{display:block; background-color:#7F7F7F; line-height:10mm; height:10mm;}

    -->
</style>
{% for cmd in data %}
    <page backtop="7mm" backbottom="7mm" backleft="-5mm" backright="2mm">

        <!--<page_header>
            <table class="page_header">
                <tr>
                    <td style="width: 10%; text-align: left">
                            <img src="./uploads/compagny/17b73807786edf68f4e87dfdea02ca08ed1d6033.jpeg" alt="logo" width="70">
                    </td>
                    <td style="width: 90%; text-align: left">
                        <h1 style="font-size:50px;">{{ cmd.compagny.name|upper }}</h1>
                    </td>
                </tr>
            </table>
        </page_header>-->

        <table  style="width:auto; text-align: left; font-size: 9pt; margin-top:25mm">
            <tr>
                <td style="text-align: left; padding:2mm 1.5mm;" class="bordes-2">
                    <span>{{ "CC"|upper }} : <strong>{{ cmd.compagny.compteCc|upper }}</strong></span><br/>
                    <span>{{ "régime d'imposition"|upper }} : <strong>{{ cmd.compagny.regime|upper }}</strong></span><br/>
                    <span>{{ "centre des impôts"|upper }} : <strong>{{ cmd.compagny.centerImpot|upper }}</strong></span>
                </td>
            </tr>
        </table>

        <table  style="width: 100%; text-align: left; font-size: 9pt; margin-top:1mm">
            <tr>
                <td style="width: 100%; text-align: left;">
                    <h2>{{ 'Bon de livraison'|upper }}</h2>
                </td>
            </tr>
        </table>

        <table class="borders" style="width: 50%; border: solid 0.5mm #5544DD; border-collapse: collapse; font-size: 9.5pt; text-align:center;">
            <thead>
                <tr>
                    <th style="width:30%">{{ 'Date'|upper }}</th>
                    <th style="width:30%">{{ 'N°BL'|upper }}</th>
                    <th style="width:30%">{{ 'N°PRoforma'|upper }}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><strong>{{ cmd.created|date('d/m/Y',cmd.created.timezone)}}</strong></td>
                    <td><strong>{{'BL-' ~ cmd.reference|upper }}</strong></td>
                    <td><strong>{{'PRO-' ~ cmd.reference|upper }}</strong></td>
                </tr>
            </tbody>
        </table>

        <!-- informations sur la date -->
        <table style="width: 100%; text-align: center; font-size: 9pt; margin-top:2mm">
            <tr>
                <td style="text-align: left; width: 50%">
                </td>
                <td style="text-align: center; width: 50%">
                    <span>{{ cmd.compagny.city|capitalize }}, le <strong>{{ cmd.created|date('d/m/Y',cmd.created.timezone) }}</strong></span><br/><br/>
                </td>
            </tr>
        </table>

        <!-- information client-->
        <table  style="width: 100%; text-align: right; font-size: 9pt; margin-top:1mm">
            <tr>
                <td style="text-align: left; padding:0.5mm 0.5mm; width: 50%">
                </td>
                <td style="text-align: center; padding:0.5mm 0.5mm; width: 50%" class="bordes">
                    <strong>{{ cmd.clients.name|upper }}</strong><br/><br/>
                    <span>{{ cmd.clients.adresse|upper }}</span><br/><br/>
                </td>
            </tr>
        </table>


        <!-- information objet -->
        <table  style="width: 100%; text-align: center; font-size: 9pt; margin-top:1mm">
            <tr>
                <td style="text-align: center; padding:2mm 1.5mm;">
                    <h5><strong>{{ cmd.subject|upper }}</strong></h5>
                </td>
            </tr>
        </table>

        <!-- information des produits sur la cmd -->
        <table class="border" style="width:100%; border: solid 0.5mm #5544DD; border-collapse: collapse; font-size: 9.5pt; text-align:center;">
            <thead>
                <tr>
                    <th style="width:15%">{{ 'réf'|capitalize }}</th>
                    <th style="width:15%">{{ 'désignation'|capitalize }}</th>
                    <th style="width:10%">{{ 'u'|capitalize }}</th>
                    <th style="width:10%">{{ 'qté'|capitalize }}</th>
                    <th style="width:20%">{{ 'coût unitaire'|capitalize }}</th>
                    <th style="width:10%">{{ 'r%'|capitalize }}</th>
                    <th style="width:25%">{{ 'coût total'|capitalize }}</th>
                </tr>
            </thead>
            <tbody>
            {% for prd in cmd.proformasproducts %}
                <tr>
                    <td style="width:15%">{{ prd.products.reference }}</td>
                    <td style="width:15%">{{ prd.products.name|upper }}</td>
                    <td style="width:10%">{{ prd.products.unites.code }}</td>
                    <td style="width:10%">{{ prd.qteCmd }}</td>
                    <td style="width:20%">{{ prd.price|number_format(0, ',', '.') }}</td>
                    <td style="width:10%">{{ (prd.remise|length > 0 ) ? prd.remise ~ '%' : ' ' }} </td>
                    <td style="width:25%">{{ prd.montHt|number_format(0, ',', '.') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <!-- information sur montant -->
        <table class="border" style="width: 55%; border: solid 0.5mm #5544DD; border-collapse: collapse; font-size: 9.5pt; text-align:center; margin-top: 3mm; margin-left: 97mm;">
            <tbody>
                <tr>
                    <td style="text-align: center; padding:2mm 1.5mm; width: 50%"><strong>{{ 'Total HT:'|upper }}</strong></td>
                    <td style="text-align: center; padding:2mm 1.5mm; width: 50%"><span>{{ total.montHt|number_format(0, ',', '.') }} FCFA</span></td>
                </tr>
                <tr>
                    <td style="text-align: center; padding:2mm 1.5mm; width: 50%"><strong>{{ 'tva 18%:'|upper }}</strong></td>
                    <td style="text-align: center; padding:2mm 1.5mm; width: 50%"><span>{{ total.montTva|number_format(0, ',', '.') }} FCFA</span></td>
                </tr>
                <tr>
                    <td style="text-align: center; padding:2mm 1.5mm; width: 50%"><strong>{{ 'Total TTC:'|upper }}</strong></td>
                    <td style="text-align: center; padding:2mm 1.5mm; width: 50%; font-size: 11pt;"><strong>{{ total.montTTC|number_format(0, ',', '.') }} FCFA</strong></td>
                </tr>
            </tbody>
        </table>

        <table style="width: 100%; border: solid 0.5mm #5544DD; border-collapse: collapse; font-size: 9.5pt; text-align:center; margin-top: 5mm;">
            <tbody>
                <tr>
                    <td style="text-align: left; padding:2mm 1.5mm; width: 100%"> <span>{{ 'Arrétez de la somme de :'|upper }}</span> <strong>{{ cmd.arrete|upper }}</strong></td>
                </tr>
            </tbody>
        </table>

        <table style="width: 100%; border: solid 0.5mm #5544DD; border-collapse: collapse; font-size: 9.5pt; text-align:center; margin-top: 10mm;">
            <tbody>
            <tr>
                <td style="text-align: left; padding:2mm 1.5mm; width: 50%"> <strong>{{ 'Visa du partenaire-client'|upper }}</strong></td>
                <td style="text-align: right; padding:2mm 1.5mm; width: 50%"> <strong>{{ 'La direction'|upper }}</strong></td>
            </tr>
            </tbody>
        </table>

    </page>
{% endfor %}