{% extends 'LabsFacturationBundle::layout_system.html.twig' %}
{% block Title %}  {{ 'Gestion de Proforma'|capitalize }} {% endblock %}
{% block loyout_body %}
    <!-- Individual column searching (text inputs) -->
    <!-- START CONTAINER FLUID -->

    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" data-dismiss="alert"><span>&times;</span><span class="sr-only">Close</span></button>
            <span class="text-semibold"> <strong>{{ flashMessage|upper }}</strong></span>
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('warning') %}
        <div class="alert alert-warning alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" data-dismiss="alert"><span>&times;</span><span class="sr-only">Close</span></button>
            <span class="text-semibold">{{ flashMessage|upper }}</span>
        </div>
    {% endfor %}
    <!-- Invoice template -->

    {% for cmd in commandes %}
        <div class="panel panel-white">
            <div class="panel-heading">
                <h5 class="panel-title">
                    <strong>
                        {{ 'bon de livraison'|upper }}
                        {% if cmd.status == -1 %} <span class="label label-flat border-danger text-danger-600">{{ 'mode brouillon'|upper }} </span>{% endif %}
                        {% if cmd.status == 0 %} <span class="label label-danger">{{ 'Livraison en cours'|upper }} </span>{% endif %}
                        {% if cmd.status == 1 %} <span class="label label-success">{{ 'Livré'|upper }} </span>{% endif %}
                    </strong>
                </h5>
                <div class="heading-elements">
                    <a href="{{ path('labs_facturation_proforma_view', { 'id' : cmd.proforma.id, 'reference': cmd.proforma.reference}) }}" class="btn btn-primary btn-xs heading-btn"><i class="icon-menu7 position-left"></i>{{ 'afficher sa pro-forma'|capitalize }}</a>
                    {% if cmd.status == -1 %}
                        <a href="{{ path('labs_facturation_commandes_delivery_validate', { 'id': cmd.id, 'proforma': cmd.proforma.id, 'proforma_ref': cmd.proforma.reference }) }}"  class="btn btn-success btn-xs heading-btn"><i class="icon-file-check position-left"></i> {{ 'Approuvé'|capitalize }}</a>
                    {% endif %}
                    {% if cmd.status != -1 and cmd.status != 1  %}
                            {% if cmd.status != 2 %}
                                <a href="{{ path('labs_facturation_commandes_delivery', { 'id': cmd.id, 'proforma': cmd.proforma.id, 'proforma_ref': cmd.proforma.reference }) }}"  class="btn btn-success btn-xs heading-btn"><i class="icon-file-check position-left"></i> {{ 'valider comme livré'|capitalize }}</a>
                            {% endif %}
                    {% endif %}
                    <a href="{{ path('labs_facturation_commandes_view_pdf', { 'proforma_id': cmd.proforma.id, 'reference':cmd.reference }) }}" class="btn btn-primary btn-xs heading-btn" target="_blank" ><i class="icon-printer position-left"></i> {{ 'imprimer'|capitalize }}</a>
                </div>
            </div>

            <div class="panel-body no-padding-bottom">
                <div class="row">
                    <div class="col-md-6 content-group">
                        <img src="{{ cmd.proforma.compagny.AssertPath|imagine_filter('my_thumb_invoice') }}" class="content-group mt-10" alt="" style="width: 120px;">
                        <ul class="list-condensed list-unstyled">
                            <li><strong>{{ cmd.proforma.compagny.name|upper }}</strong></li>
                            <li>{{ cmd.proforma.compagny.street|capitalize }}</li>
                            <li>{{ cmd.proforma.compagny.phone }} - {{ cmd.proforma.compagny.phoneTwo }}</li>
                        </ul>
                    </div>

                    <div class="col-md-6 content-group">
                        <div class="invoice-details">
                            <h5 class="text-uppercase text-semibold">{{'Bl' ~ cmd.proforma.reference|upper }}</h5>
                            <ul class="list-condensed list-unstyled">
                                <li>Fait le : <span class="text-semibold">{{ cmd.proforma.created|date('d M, Y', cmd.proforma.created.timezone) }} </span></li>
                                <!--<li>Due date: <span class="text-semibold">May 12, 2015</span></li>-->
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-lg-9 content-group">
                        <span class="text-muted">Adresse à:</span>
                        <ul class="list-condensed list-unstyled">
                            <li><h5>{{ cmd.proforma.clients.representant|upper }}</h5></li>
                            <li>De la sociéte : <span class="text-semibold">{{ cmd.proforma.clients.name|upper }}</span></li>
                            <li>{{ cmd.proforma.clients.adresse }}</li>
                            <!--<li>London E1 8BF</li>
                            <li>United Kingdom</li>
                            <li>888-555-2311</li>-->
                            <li><a href="#">{{ cmd.proforma.clients.emailEntreprise  }}</a></li>
                        </ul>
                    </div>

                    <div class="col-md-6 col-lg-3 content-group">
                        <span class="text-muted">Informations et Paiement:</span>
                        <ul class="list-condensed list-unstyled invoice-payment-details">
                            <li><h5>Total TTC: <span class="text-right text-primary text-semibold">{{ total.montTTC|number_format(0, ',', '.') }} FCFA</span></h5></li>
                            <li>Banque : <span class="text-semibold">{{ cmd.proforma.compagny.bank|capitalize }}</span></li>
                            <li>Pays: <span>{{ cmd.proforma.compagny.country|upper }}</span></li>
                            <li>Ville: <span>{{ cmd.proforma.compagny.city|capitalize }}</span></li>
                            <li>Address: <span>{{ cmd.proforma.compagny.adresse|capitalize }}</span></li>
                            <li>Rue: <span class="text-semibold">{{ cmd.proforma.compagny.street|capitalize }}</span></li>
                            <li>Régîme d'imposition : <span class="text-semibold">{{ cmd.proforma.compagny.regime|capitalize }}</span></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table table-lg">
                    <thead>
                    <tr>
                        <th class="col-sm-1">Référence</th>
                        <th>Designation</th>
                        <th class="col-sm-1">Qté</th>
                        <th class="col-sm-2">Px unit. HT</th>
                        <th class="col-sm-1">Augmention</th>
                        <th class="col-sm-1">Rémise</th>
                        <th class="col-sm-2">Montant HT</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for prd in cmd.proforma.proformasproducts %}
                        <tr>
                            <td>{{ prd.products.reference }}</td>
                            <td><h6 class="no-margin">{{ prd.products.name }}</h6></td>
                            <td>{{ prd.qteCmd }}</td>
                            <td>{{ prd.price|number_format(0, ',', '.') }}</td>
                            <td><span class="label label-flat border-success text-success-600">{{ (prd.gain|length > 0 ) ? prd.gain : 0 }} % </span></td>
                            <td><span class="label label-flat border-danger text-danger-600">{{ (prd.remise|length > 0 ) ? prd.remise : 0 }} % </span></td>
                            <td><span class="text-semibold">{{ prd.montHt|number_format(0, ',', '.') }}</span></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="panel-body">
                <div class="row invoice-payment">
                    <div class="col-sm-7">
                        <div class="content-group">
                            <div class="form-group">
                                <div class="col-lg-11">
                                    Arrétez de la somme de : <strong>{{ cmd.proforma.arrete|upper }}</strong>
                                </div>
                            </div>
                        </div>
                        <p></p>
                        <div class="content-group">
                            <div class="form-group">
                                <div class="col-lg-11" style="padding-top: 30px">
                                   conditions de réglements : <strong>{{ cmd.proforma.conditions.informations }}</strong>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-5">
                        <div class="content-group">
                            <h6>Montant Total</h6>
                            <div class="table-responsive no-border">
                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <th>Total HT:</th>
                                        <td class="text-right"><strong>{{ total.montHt|number_format(0, ',', '.') }} FCFA</strong></td>
                                    </tr>
                                    <tr>
                                        <th>Tva: <span class="text-regular">(18%)</span></th>
                                        <td class="text-right"><strong>{{ total.montTva|number_format(0, ',', '.') }} FCFA</strong></td>
                                    </tr>
                                    <tr>
                                        <th>Total TTC:</th>
                                        <td class="text-right text-primary"><h5 class="text-semibold">{{ total.montTTC|number_format(0, ',', '.') }} FCFA</h5></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-right">

                            </div>
                        </div>
                    </div>
                </div>

                <h6>Autres informations</h6>
            </div>
        </div>
        <!-- /invoice template -->

    {% endfor %}


{% endblock %}

{% block themes %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/labslimitlesstpl/assets/js/pages/invoice_template.js') }}"></script>
{% endblock %}
