{% extends 'LabsFacturationBundle::layout_system.html.twig' %}
{% block Title %}  {{ 'Gestion des Entrepôts'|capitalize }} {% endblock %}
{% block loyout_body %}
    <!-- Individual column searching (text inputs) -->
    <!-- START CONTAINER FLUID -->

    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" data-dismiss="alert"><span>&times;</span><span class="sr-only">Close</span></button>
            <span class="text-semibold">{{ flashMessage|capitalize }}</span>
        </div>
    {% endfor %}


    <!-- START PANEL -->
    <div class="panel panel-flat">
        <div class="panel-heading">
            <h5 class="panel-title">Gestion des Entrepôts - Liste des Entrepôts</h5>
            <div class="heading-elements">
                <ul class="icons-list">
                    <a href="{{ path('labs_facturation_entrepot_add') }}" class="btn btn-success btn-labeled"><b><i class="icon-plus3"></i></b> Créer un nouveau</a>
                </ul>
            </div>
        </div>

        <div class="panel-body">
            Tableau des Entrepôt (lieux)
        </div>

        <table class="table datatable-column-search-inputs" id="site_view">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Longitude</th>
                <th>Latitude</th>
                <th>Site d'emplacement</th>
                <th>Date de creation</th>
                <th class="text-center">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for entrepot in list %}
                {% if entrepot|length > 0 %}
                    <tr>
                        <td>{{ entrepot.name }}</td>
                        <td><span class="label label-info">{{ (entrepot.lng|length > 0) ? entrepot.lng : 0 }}</span></td>
                        <td><span class="label label-danger">{{ (entrepot.lnt|length > 0) ? entrepot.lnt : 0 }}</span></td>
                        <td><b>{{ entrepot.site.name }}</b></td>
                        <td><a href="#">{{ entrepot.created|date('Y/m/d', entrepot.created.timezone) }}</a></td>
                        <td class="text-center">
                            <ul class="icons-list">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <i class="icon-menu9"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li><a href="{{ path('labs_facturation_entrepot_edit', { 'id' : entrepot.id, 'slug' : entrepot.slug}) }}"><i class="icon-pencil5"></i>{{ 'Modifier'|capitalize }}</a></li>
                                        <li><a href="{{ path('labs_facturation_entrepot_delete',{'id' : entrepot.id} ) }}"><i class="icon-cancel-square2"></i>{{ 'Supprimer'|capitalize }}</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>

    </div>
    <!-- /individual column searching (text inputs) -->
{% endblock %}
{% block themes %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/labslimitlesstpl/assets/js/plugins/tables/datatables/datatables.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/labslimitlesstpl/assets/js/plugins/forms/selects/select2.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/labslimitlesstpl/assets/js/pages/datatables_api.js') }}"></script>
{% endblock %}
