{% extends 'LabsFacturationBundle::layout_system.html.twig' %}
{% block loyout_body %}
        <div class="container-fluid container-fixed-lg">
            <div class="row">
                <div class="col-md-12">
                    <div class="container-md-height m-b-20">
                        <div class="row row-md-height">
                            <div class="col-lg-12 col-md-12 col-md-height col-middle bg-white">
                                <!-- START PANEL -->
                                <div class="full-height">
                                    <div class="panel-body text-center">
                                        <h3>Gestion Configuration | Service</h3>
                                    </div>
                                </div>
                                <!-- END PANEL -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- START CONTAINER FLUID -->
        <div class="container-fluid container-fixed-lg">
            {% for flashMessage in app.session.flashbag.get('success') %}
                <div class="alert alert-success" role="alert">
                    <button class="close" data-dismiss="alert"></button>
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('error') %}
                <div class="alert alert-danger" role="alert">
                    <button class="close" data-dismiss="alert"></button>
                    {{ flashMessage }}
                </div>
            {% endfor %}
            <!-- START PANEL -->
            <div class="panel panel-transparent">
                <div class="panel-heading">
                    <div class="panel-title">Configuration &nbsp;| &nbsp; Liste des Services
                    </div>
                    <div class="pull-right">
                        <div class="col-xs-12">
                            <a href="{{ path('labs_facturation_service_add') }}" class="btn btn-primary btn-cons"><i class="fa fa-plus"></i> Creér nouveau</a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-body">
                    <table class="table table-hover demo-table-dynamic" id="tableWithDynamicRows">
                        <thead>
                        <tr>
                            <th>#ID</th>
                            <th>Nom</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for service in list %}
                            <tr>
                                <td class="v-align-middle">
                                    <p>{{ service.id }}</p>
                                </td>

                                <td class="v-align-middle">
                                    <p><strong>{{ service.name|upper }}</strong></p>
                                </td>
                                <td class="v-align-middle">
                                    <p>
                                        <a href="{{ path('labs_facturation_service_edit', {'id' : service.id, 'name' : service.name}) }}" class="btn btn-primary btn-rounded"><i class="glyphicon glyphicon-edit"></i></a>
                                    </p>
                                </td>
                                <td class="v-align-middle">
                                    <p>
                                        <a href="{{ path('labs_facturation_service_delete', {'id' : service.id }) }}" class="btn btn-danger btn-rounded" onclick="return confirm('Etes vous sûre de vouloir supprimer cette valeur ?');">
                                            <i class="glyphicon glyphicon-remove-sign"></i>
                                        </a>
                                    </p>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- END PANEL -->
        </div>
        <!-- END CONTAINER FLUID -->
    {% endblock %}

    {% block javascript %}
        <script src="{{ asset('bundles/labspagestpl/assets/plugins/jquery-datatable/media/js/jquery.dataTables.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/labspagestpl/assets/plugins/jquery-datatable/extensions/TableTools/js/dataTables.tableTools.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/labspagestpl/assets/plugins/jquery-datatable/extensions/Bootstrap/jquery-datatable-bootstrap.js') }}" type="text/javascript"></script>
        <script type="text/javascript" src="{{ asset('bundles/labspagestpl/assets/plugins/datatables-responsive/js/datatables.responsive.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/labspagestpl/assets/plugins/datatables-responsive/js/lodash.min.js') }}"></script>
    {% endblock %}
    {% block otherscript %}
        <script src="{{ asset('bundles/labspagestpl/assets/js/datatables.js') }}" type="text/javascript"></script>
    {% endblock %}