{% extends 'LabsFacturationBundle::layout_system.html.twig' %}
{% block Title %}  {{ 'Gestion de Proforma'|capitalize }} {% endblock %}
{% block loyout_body %}
    <!-- Individual column searching (text inputs) -->
    <!-- START CONTAINER FLUID -->

    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" data-dismiss="alert"><span>&times;</span><span class="sr-only">Close</span></button>
            <span class="text-semibold"> <strong>{{ flashMessage|upper }}</strong></span>
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('warning') %}
        <div class="alert alert-warning alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" data-dismiss="alert"><span>&times;</span><span class="sr-only">Close</span></button>
            <span class="text-semibold">{{ app.user.lastname|upper }} , {{ flashMessage|upper }}</span>
        </div>
    {% endfor %}
    <!-- Invoice template -->
    {% for proforma in data %}
        <div class="panel panel-white">
         <!-- Titre et btn-->
        <div class="panel-heading">
            <h5 class="panel-title"><strong>{{ 'facture pro-forma'|upper }} | {{ 'Crée par'|upper }} {{ proforma.Users.firstname|upper }}  {{ proforma.Users.lastname|upper }} </strong></h5>
            <input type="hidden" value="{{ proforma.id }}" id="proformaID">
            <div class="heading-elements">
                {% if proforma.status == -1 %}
                    <a href="{{ path('labs_facturation_proforma_validate_ending', {'id': proforma.id }) }}" class="btn btn-success btn-labeled validate-pro"><b><i class="icon-checkmark3"></i></b> {{ 'Finaliser la proforma'|capitalize }}</a>
                {% endif %}
            </div>
        </div>
        <!--end titre et btn -->

        <!-- entete de la facture -->
        <div class="panel-body no-padding-bottom">
            <div class="row">
                <div class="col-md-6 content-group">
                    <img src="{{ proforma.compagny.AssertPath|imagine_filter('my_thumb_invoice') }}" class="content-group mt-10" alt="" style="width:10%;">
                    <ul class="list-condensed list-unstyled">
                        <li><strong>{{ proforma.compagny.name|upper }}</strong></li>
                        <li>{{ proforma.compagny.street|capitalize }}</li>
                        <li>{{ proforma.compagny.phone }} - {{ proforma.compagny.phoneTwo }}</li>
                    </ul>
                </div>

                <div class="col-md-6 content-group">
                    <div class="invoice-details">
                        <h5 class="text-uppercase text-semibold">N/Réf : {{ proforma.referenceView }}</h5>
                        <ul class="list-condensed list-unstyled">
                            <li>Fait le : <span class="text-semibold">{{ proforma.created|date('d M, Y', proforma.created.timezone) }} </span></li>
                            <!--<li>Due date: <span class="text-semibold">May 12, 2015</span></li>-->
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-lg-9 content-group">
                    <span class="text-muted">Adresse à:</span>
                    <ul class="list-condensed list-unstyled">
                        <li><h5>{% if proforma.clients.representant|length > 0  %} {{ proforma.clients.representant|upper }} {% endif %}</h5></li>
                        <li>De la sociéte : <span class="text-semibold">{{ proforma.clients.name|upper }}</span></li>
                        <li>{{ proforma.clients.adresse }}</li>
                        <!--<li>London E1 8BF</li>
                        <li>United Kingdom</li>
                        <li>888-555-2311</li>-->
                        <li><a href="#">{{ proforma.clients.emailEntreprise  }}</a></li>
                    </ul>
                </div>

                <div class="col-md-6 col-lg-3 content-group">
                    <span class="text-muted">Informations et Paiement:</span>
                    <ul class="list-condensed list-unstyled invoice-payment-details">
                        <li><h5>Total TTC: <span class="text-right text-primary text-semibold TotalMontTTC">{{ total.montTTC|number_format(0, ',', '.') }} FCFA</span></h5></li>
                        <li>Banque : <span class="text-semibold">{{ proforma.compagny.bank|capitalize }}</span></li>
                        <li>Pays: <span>{{ proforma.compagny.country|upper }}</span></li>
                        <li>Ville: <span>{{ proforma.compagny.city|capitalize }}</span></li>
                        <li>Address: <span>{{ proforma.compagny.adresse|capitalize }}</span></li>
                        <li>Rue: <span class="text-semibold">{{ proforma.compagny.street|capitalize }}</span></li>
                        <li>Régîme d'imposition : <span class="text-semibold">{{ proforma.compagny.regime|capitalize }}</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <!-- end entete de la facture -->


            <div class="panel-body no-padding-bottom">
                <div class="row">
                    <div class="col-md-12 content-group">
                        <div id="error" class="displayNone"></div>
                    </div>
                </div>
            </div>

            <!-- form -->
            <div class="panel-body">
                {{ form_start(form, {
                    action : path('labs_facturation_proforma_add_product',{ 'id' : proforma.id, 'reference': proforma.reference }),
                    attr : {
                        'class':'form-horizontal formaLineAdd',
                        novalidate: 'novalidate'
                    }
                })
                }}
                {{ form_errors(form) }}
                    <fieldset class="content-group col-lg-12">
                        <legend class="text-bold">Ajout des de produits lignes dans la  proforma</legend>
                        <div class="form-group">
                            <div class="col-lg-12">
                                <div class="row">
                                    <input type="hidden" name="_price_init" value="" class="price_init">
                                    <div class="col-md-2">
                                        <select class="select-border-color border-warning" name="_type" id="type_product" style="text-transform: uppercase">
                                            <option value="">{{  'Nature du produit' }}</option>
                                            <option value="0">{{ 'bien'|upper }}</option>
                                            <option value="1">{{ 'service'|upper }}</option>
                                        </select>
                                    </div>
                                    <div class="col-md-2 displayNone product-list">
                                        <div class="form-group">
                                            <select class="select-border-color border-teal border-lg" id="product_ref" style="text-transform: uppercase" name="_product" required="required"></select>
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        {{ form_errors(form.qteCmd) }}
                                        {{ form_row(form.qteCmd) }}
                                    </div>
                                    <div class="col-md-1 {% if proforma.services.id == 1 %} displyNone {% endif %}">
                                        {{ form_errors(form.duration) }}
                                        {{ form_row(form.duration) }}
                                    </div>
                                    <div class="col-md-2">
                                        {{ form_errors(form.price) }}
                                        {{ form_row(form.price) }}
                                    </div>
                                    <div class="col-md-1">
                                        {{ form_errors(form.remise) }}
                                        {{ form_row(form.remise) }}
                                    </div>
                                    <div class="text-right col-lg-2">
                                        <button type="reset" class="btn btn-danger"><i class="icon-cancel-circle2"></i></button>
                                        <button type="submit" class="btn btn-primary btn-add" disabled><i class="icon-checkmark"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                {{ form_end(form) }}
            </div>
            <!-- end form -->

            <div class="panel-body no-padding-bottom">
                <div class="row">
                    <div class="col-md-12 content-group">
                        <div id="infos" class="displayNone"></div>
                    </div>
                </div>
            </div>


            <script id="lineTpl" type="text/template">
                {% verbatim %}
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3">
                            <span> Reference : </span> <span class="label label-success">{{ reference }}</span>
                            <input type="hidden" value="{{ id }}" class="prdid">
                            <input type="hidden" value="{{ type }}" class="prdtype">
                        </div>
                        <div class="col-md-4">
                            <span> Nom du produit : </span><span class="label label-success">{{ name }}</span>
                        </div>
                        <div class="col-md-2">
                            <span> Stock disponible : </span> <span class="label label-danger">{{ quantity }}</span>
                            <input type="hidden" value="{{ quantity }}" class="prdstock">
                        </div>
                        <div class="col-md-2">
                            <span> Prix intial : </span> <span class="label label-info">{{ price }}</span>
                            <input type="hidden" class="prdprice" value="{{ price }}">
                        </div>
                    </div>
                </div>
                {% endverbatim %}
            </script>

            <script id="lineproduct" type="text/template">
                {% verbatim %}
                    <tr>
                        <td> <span class="label label-flat border-success text-success-600">{{ reference }}</span></td>
                        <td><h6 class="no-margin">{{ name }}</h6></td>
                        <td>{{ qte }}</td>
                        {{#type}}
                            <td>{{ duration }}</td>
                        {{/type}}
                        <td>{{ price }}</td>
                        <td><span class="label label-flat border-danger text-danger-600">{{ remise }} % </span></td>
                        <td><span class="text-semibold">{{ montHT }}</span></td>
                        <td class="text-center">
                            <button type="button" class="label label-success label-icon" data-toggle="modal" data-target="#modal_form_editproduct-{{ id }}"><i class="icon-pencil5"></i></button>
                            <a href="{{ url }}" class="label label-danger label-icon"><i class=" icon-trash"></i></a>
                        </td>
                        <!-- modal form-->
                        <!-- end modal-->
                    </tr>
                {% endverbatim %}
            </script>

            <script id="errormessage" type="text/template">
                {% verbatim %}
                    <span class="label label-flat label-block border-danger text-danger-600">{{message}}</span>
                {% endverbatim %}
            </script>


            <div class="table-responsive">
            <table class="table table-lg" id="proformaContent">
                <thead>
                <tr>
                    <th class="col-sm-1">Référence</th>
                    <th>Designation</th>
                    <th class="col-sm-1">Qté</th>
                    {% if proforma.services.id == 2 %} <th class="col-sm-1"> Durée </th> {% endif %}
                    <th class="col-sm-2">Px unit. HT</th>
                    <th class="col-sm-1">Rémise</th>
                    <th class="col-sm-2">Montant HT</th>
                    <th class="col-sm-2"></th>
                </tr>
                </thead>
                <tbody>
                {% for prd in proforma.proformasproducts %}
                    <tr>
                        <td> <span class="label label-flat border-success text-success-600">{{ prd.products.reference }}</span></td>
                        <td><h6 class="no-margin">{{ prd.products.name }}</h6></td>
                        <td>{{ prd.qteCmd }}</td>
                        {% if proforma.services.id == 2 %}
                            <td>{{ prd.duration }}</td>
                        {% endif %}
                        <td>{{ prd.price|number_format(0, ',', '.') }}</td>
                        <td><span class="label label-flat border-danger text-danger-600">{{ (prd.remise|length > 0 ) ? prd.remise : 0 }} % </span></td>
                        <td><span class="text-semibold">{{ prd.montHt|number_format(0, ',', '.') }}</span></td>
                        <td class="text-center">
                            <button type="button" class="label label-success label-icon" data-toggle="modal" data-target="#modal_form_editproduct-{{ prd.id }}"><i class="icon-pencil5"></i></button>
                            <a href="{{ path('labs_facturation_proforma_product_delete', {'id' : prd.id ,'proformaid' : proforma.id, 'proformaref' : proforma.reference}) }}" class="label label-danger label-icon"><i class=" icon-trash"></i></a>
                        </td>
                        <!-- modal form-->
                        <!-- end modal-->
                    </tr>
                    {# render(controller('LabsFacturationBundle:ProformasProducts:edit',{ id : prd.id, reference :prd.products.reference, 'proformaid' : proforma.id, 'proformaref' : proforma.reference })) #}
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="panel-body">
            <div class="row invoice-payment">
                <div class="col-sm-7">
                    <input type="hidden" value="{{ proforma.id }}" class="input-hidden-id">
                    <div class="content-group arrete-info displayNone">
                        <div class="form-group">
                            <div class="col-lg-10">
                                Arrétee de la présente facture pro-forma à la somme de : <strong class="somme_arrete" style="text-transform: uppercase"></strong>
                            </div>
                            <div class="col-lg-2">
                                <a href="#" class="label label-danger label-icon arreter-edit"><i class="icon-pencil"></i></a>
                            </div>
                        </div>
                    </div>
                    {{ render(controller('LabsFacturationBundle:Proforma:ProformaLetterSum',{ id : proforma.id})) }}
                    <div class="content-group">
                        <div class="form-group">
                            <div class="col-lg-11" style="padding-top: 30px">
                                {% if proforma.conditions|length > 0  %}
                                    Conditions de réglements : <strong>{{ proforma.conditions.informations }}</strong>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                <!-- partie validation du formulaire -->
                <div class="col-sm-5">
                    <div class="content-group">
                        <h6>Montant Total</h6>
                        <div class="table-responsive no-border">
                            <table class="table">
                                <tbody>
                                <tr>
                                    <th>Total HT:</th>
                                    <td class="text-right"><strong id="TotalMontHT">{{ total.montHt|number_format(0, ',', '.') }} FCFA</strong></td>
                                </tr>
                                <tr>
                                    <th>Tva: <span class="text-regular">(18%)</span></th>
                                    <td class="text-right"><strong id="TotalMontTVA">{{ total.montTva|number_format(0, ',', '.') }} FCFA</strong></td>
                                </tr>
                                <tr>
                                    <th>Total TTC:</th>
                                    <td class="text-right text-primary"><h5 class="text-semibold TotalMontTTC">{{ total.montTTC|number_format(0, ',', '.') }} FCFA</h5></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="text-right">
                            {% if proforma.status == -1 %}
                                <a href="{{ path('labs_facturation_proforma_validate_ending', {'id': proforma.id }) }}" class="btn btn-success btn-labeled validate-pro">
                                    <b><i class="icon-checkmark3"></i></b> {{ 'Finaliser la proforma'|capitalize }}
                                </a>
                            {% endif %}
                            {% if proforma.status != -1 %}
                                <a href="{{ path('labs_facturation_proforma_get_list') }}" class="btn btn-danger btn-labeled">
                                    <b><i class="icon-checkmark3"></i></b> {{ 'modifier'|capitalize }}
                                </a>
                                <div class="btn-group dropup groupaction">
                                    <button type="button" class="btn btn-primary btn-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                        <i class="icon-menu7"></i> &nbsp;<span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        {% if proforma.status == 0 %}
                                            <li><a href="{{ path('labs_facturation_commandes_create',{ 'proforma': proforma.id }) }}"><i class=" icon-certificate"></i> {{ 'Confirmer en commande'|capitalize }}</a></li>
                                            <li class="divider"></li>
                                        {% endif %}
                                        <li><a href="#"><i class="icon-printer2"></i> {{ 'imprimer'|capitalize }}</a></li>
                                        {% if proforma.status != 3 and proforma.status != 2 %}
                                            <li><a href="{{ path('labs_facturation_proforma_cancel', { 'id': proforma.id }) }}"><i class="icon-cancel-square"></i> {{ 'Annuler'|capitalize }}</a></li>
                                        {% endif %}
                                        {% if proforma.status != 0 and  proforma.status != 3 %}
                                            <li class="divider"></li>
                                            <li><a href="{{ path('labs_facturation_commandes_view_bl',{ 'proforma_id': proforma.id ,'proforma_ref': proforma.reference }) }}"><i class=" icon-certificate"></i> {{ 'Affichez bon de livraison'|capitalize }}</a></li>
                                        {% endif %}
                                    </ul>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /invoice template -->

    {% endfor %}


{% endblock %}

{% block themes %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/labslimitlesstpl/assets/js/plugins/forms/styling/uniform.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/labslimitlesstpl/assets/js/pages/form_inputs.js') }}"></script>

    <script type="text/javascript" src="{{ asset('bundles/labslimitlesstpl/assets/js/core/libraries/jquery_ui/interactions.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/labslimitlesstpl/assets/js/plugins/forms/selects/select2.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/labslimitlesstpl/assets/js/pages/form_select2.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/labslimitlesstpl/assets/js/plugins/forms/editable/editable.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('bundles/labslimitlesstpl/assets/js/pages/components_modals.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/main-form.js') }}"></script>

{% endblock %}
