<!-- BEGIN SIDEBPANEL-->
<nav class="page-sidebar" data-pages="sidebar">
    <!-- BEGIN SIDEBAR MENU HEADER-->
    <div class="sidebar-header">
        <h2 style="color:#fff">SICODEM</h2>
    </div>
    <!-- END SIDEBAR MENU HEADER-->
    <!-- START SIDEBAR MENU -->
    <div class="sidebar-menu">
        <!-- BEGIN SIDEBAR MENU ITEMS-->
        <ul class="menu-items">
            <li class="m-t-30 open">
                <a href="{{ path('labs_facturation_homepage') }}" class="detailed">
                    <span class="title">Dashboard</span>
                    <!--<span class="details">12 New Updates</span>-->
                </a>
                <span class="icon-thumbnail bg-success"><i class="fa fa-home"></i></span>
            </li>
            <li class="">
                <a href="javascript:;"><span class="title">Configuration</span>
                    <span class="arrow"></span></a>
                <span class="icon-thumbnail"><i class="fa  fa-building-o"></i></span>
                <ul class="sub-menu">
                    <li>
                        <a href="javascript:;"><span class="title">Unités</span>
                            <span class="arrow"></span></a>
                        <span class="icon-thumbnail">GP</span>
                        <ul class="sub-menu">
                            <li>
                                <a href="{{ path('labs_facturation_unite_view') }}">Consulter les unités</a>
                                <span class="icon-thumbnail">CG</span>
                            </li>
                            <li>
                                <a href="{{ path('labs_facturation_unite_add') }}">Créér une unité</a>
                                <span class="icon-thumbnail">CL</span>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;"><span class="title">Catégories</span>
                            <span class="arrow"></span></a>
                        <span class="icon-thumbnail">GP</span>
                        <ul class="sub-menu">
                            <li>
                                <a href="{{ path('labs_facturation_category_list') }}">Consulter les Categories</a>
                                <span class="icon-thumbnail">CL</span>
                            </li>
                            <li>
                                <a href="{{ path('labs_facturation_category_add') }}">Créér une categorie</a>
                                <span class="icon-thumbnail">CC</span>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;"><span class="title">Marques</span>
                            <span class="arrow"></span></a>
                        <span class="icon-thumbnail">GP</span>
                        <ul class="sub-menu">
                            <li>
                                <a href="{{ path('labs_facturation_mark_list') }}">Consulter les marques</a>
                                <span class="icon-thumbnail">CL</span>
                            </li>
                            <li>
                                <a href="{{ path('labs_facturation_mark_add') }}">Créér une marques</a>
                                <span class="icon-thumbnail">CC</span>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;"><span class="title">Service</span>
                            <span class="arrow"></span></a>
                        <span class="icon-thumbnail">CP</span>
                        <ul class="sub-menu">
                            <li>
                                <a href="{{ path('labs_facturation_service_view') }}">Consulter les services</a>
                                <span class="icon-thumbnail">CG</span>
                            </li>
                            <li>
                                <a href="{{ path('labs_facturation_service_add') }}">Créér un services</a>
                                <span class="icon-thumbnail">CL</span>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="">
                <a href="javascript:;"><span class="title">Facturation</span>
                    <span class="arrow"></span></a>
                <span class="icon-thumbnail"><i class="fa fa-newspaper-o"></i></span>
                <ul class="sub-menu">
                    <li>
                        <a href="javascript:;"><span class="title">Produits</span>
                            <span class="arrow"></span></a>
                        <span class="icon-thumbnail">BP</span>
                        <ul class="sub-menu">
                            <li>
                                <a href="{{ path('labs_facturation_product_view') }}">Consulter les produits</a>
                                <span class="icon-thumbnail">CB</span>
                            </li>
                            <li>
                                <a href="{{ path('labs_facturation_product_add') }}">Créér un produits</a>
                                <span class="icon-thumbnail">CL</span>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;"><span class="title">Proforma</span>
                            <span class="arrow"></span></a>
                        <span class="icon-thumbnail">CP</span>
                        <ul class="sub-menu">
                            <li>
                                <a href="{{ path('labs_facturation_homepage') }}">Consulter les proforma</a>
                                <span class="icon-thumbnail">CG</span>
                            </li>
                            <li>
                                <a href="{{ path('labs_facturation_homepage') }}">Créer une proforma</a>
                                <span class="icon-thumbnail">CG</span>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="">
                <a href="javascript:;"><span class="title">Utilisateurs</span>
                    <span class="arrow"></span></a>
                <span class="icon-thumbnail"><i class="fa fa-newspaper-o"></i></span>
                <ul class="sub-menu">
                    <li>
                        <a href="javascript:;"><span class="title">Employer</span>
                            <span class="arrow"></span></a>
                        <span class="icon-thumbnail">BP</span>
                        <ul class="sub-menu">
                            <li>
                                <a href="{{ path('labs_members_office_view') }}">Consulter les employers</a>
                                <span class="icon-thumbnail">CB</span>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;"><span class="title">Clients</span>
                            <span class="arrow"></span></a>
                        <span class="icon-thumbnail">CP</span>
                        <ul class="sub-menu">
                            <li>
                                <a href="{{ path('labs_members_client_view') }}">Consulter les clients</a>
                                <span class="icon-thumbnail">CG</span>
                            </li>
                            <li>
                                <a href="{{ path('labs_members_client_add') }}">Créér un client</a>
                                <span class="icon-thumbnail">CL</span>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>

        </ul>
        <div class="clearfix"></div>
    </div>
    <!-- END SIDEBAR MENU -->
</nav>
<!-- END SIDEBAR -->
<!-- END SIDEBPANEL-->