{{ form_start(form, {
    method : 'post',
    attr : {
        'class':'form-horizontal SendArrete'
    }
})
}}

{{ form_errors(form) }}
<div class="content-group arrete-form">
    <div class="form-group">
        <label class="control-label col-lg-2">Arrétez de la somme</label>
        <div class="col-lg-7">
            {{ form_errors(form.arrete) }}
            {{ form_row(form.arrete) }}
        </div>
        <div class="col-lg-1 text-right">
            <button type="submit" class="label label-primary label-icon arreter-save"><i class="icon-checkmark3"></i></button>
        </div>
    </div>
</div>
{{ form_end(form) }}
