<!-- category form modal -->
<div id="modal_form_condition" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h5 class="modal-title">Formulaire de création de condition de règlement</h5>
            </div>

            {{ form_start(form, {
                action : path('labs_facturation_condition_modal_add'),
                attr : {
                    'class':'form-horizontal'
                }
            })
            }}
            {{ form_errors(form) }}

            <div class="modal-body">

                <div class="form-group">
                    <label class="control-label col-lg-3">Nom de la condition de règlement</label>
                    <div class="col-lg-9">
                        {{ form_row(form.name) }}
                        {{ form_errors(form.name) }}
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-lg-3">Information sur la condition</label>
                    <div class="col-lg-9">
                        {{ form_row(form.informations) }}
                        {{ form_errors(form.informations) }}
                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
                <button type="submit" class="btn btn-primary">Créer la condition</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
<!-- /category form modal -->
